* {
	box-sizing: border-box;
	background-color: #ffffff;
	margin: 0;
	font-family: "Playfair Display", sans-serif;
	font-size: 16px;
}
*:focus {
	outline: 0 !important;
}
body {
	width: 100vw;

	display: flex;
	justify-content: center;
}
.grid-container {
	display: grid;
	height: 100vh;
	width: 800px;
	grid-template-columns: repeat(4, 3fr);
	grid-template-rows: repeat(6, auto);
	/* grid-template-rows: 200px 200px 20px auto 25px; */
	/* repeat(3, 1fr); */
}
.item1 {
	grid-column: 1/5;
	grid-row: 1/2;
	height: 200px;
}
.ham {
	margin: 1.7rem 1rem;
}
.item2 {
	display: flex;
}
g #swe {
	fill: #b64100;
}
g #bgleft {
	fill: white;
}

.btn-swe {
	padding: 0;
	position: absolute;
	border: none;
	background-color: rgb(0, 0, 0);
	z-index: 2;
	margin-left: 16.6rem;
	justify-content: flex-end;
	margin-top: 1rem;
}

.svgleft {
	position: absolute;
	z-index: 1;
	justify-content: flex-end;
}
.svgright {
	position: absolute;
	margin-left: 19rem;
	justify-content: flex-end;
	margin-top: 1rem;
}
.item3 {
	grid-column: 1/5;
	grid-row: 2;
}
.lucas {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 92.3%;
	color: #b64000c4;
	padding-left: 1rem;
}
.nordeborg {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 92.3%;
	color: #232323c9;
	padding-left: 1rem;
}
.web-developer {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 108.3%;
	color: #000000;
	padding-left: 1rem;
}
.in-developement {
	font-family: Playfair Display;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 108.3%;
	color: #b64100;
}
.item4 {
	grid-column: 1/2;
	grid-row: 3;
	height: 20px;
}
.item5 {
	grid-column: 2/5;
}
.item6 {
	height: 20%;
}
.item6 img {
	margin-left: 1rem;
	z-index: -1;
	background-color: rgba(210, 105, 30, 0);
}
.whodis {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 79.8%;
	letter-spacing: -0.075em;
	color: #b64100;
	margin-left: -1.5rem;
	padding-top: 3rem;
}
.whodis-paragraph {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 125.3%;
	color: #272727;
	padding-right: 2rem;
	margin-top: 0.4rem;
	max-width: 17rem;
}
.item7 {
	grid-column: 2/5;
	grid-row: 4/6;
	height: auto;
}
.item8 {
	height: auto;
	grid-column: 1/5;
	background-color: rgba(255, 255, 255, 0);
	z-index: 1;
}
.read-more {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 108.3%;
	color: #272727;
	padding-left: 16rem;
	background-color: rgba(255, 255, 255, 0);
}
